* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
    background-color: gray;
}

.footer-main {
    background-color: #27343b;
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
}

.first-colum {
    position: relative;
    border: 1px solid yellow;
    width: 425px;


}

.mainlogo {
    text-align: center;


}

.captionLogo {
    text-align: left;
    color: #B7B7B7;
    line-height: 1.35;
    padding-bottom: 10px;
    border-bottom: 1px solid #FFFFFF;
    font-size: 15.8px;
}

.ttlh {
    margin-top: 25px;
    font-weight: 400;
}

.ttlh-text {
    display: block;
    font-size: 17px;
    box-sizing: border-box;
    text-transform: uppercase;
    color: #EBEBEB;

    margin-bottom: 20px;
    line-height: 1.43;
}

.ttlh-list {
    list-style: none;
    color: #B7B7B7;
    margin-left: 25px;
}

.ttlh-list img {
    margin-top: 5px;
    margin-right: 10px;
}

.list-text img:last-child {
    width: 18px;
    height: 12px;
}

.list-text img:nth-child() {
    width: 180px;
    height: 12px;
}

.list-text {
    margin-bottom: 50px;
    font-size: 15px;
    display: flex;
}

.kn-link-icon {}

.kn-text {}

.kn-icon {}