*,
*:before,
*:after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}

input,
select,
textarea {
    background-color: transparent;
    outline: none;
}

button {
    cursor: pointer;
    background-color: transparent;
    outline: none;
    border: 0;
}

body {
    min-height: 100vh;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
}

.row {
    float: left;
    width: 100%;
}

header {
    background-color: orange;
    min-height: 400px;
}

nav {
    background-color: palegreen;
    min-height: 40px;
}

article {
    float: left;
    width: 75%;
    background-color: palevioletred;
    min-height: 400px;
}

aside {
    float: left;
    width: 25%;
    background-color: rebeccapurple;
    min-height: 400px;
}

footer {
    background-color: royalblue;
    min-height: 200px;
}